header {
  background-color: rgba(0, 136, 204, 0.55);
}
header #brand {
  height: 90px;
  padding: 5px;
}
header h1 {
  color: #fff;
}
header a {
  margin-top: 10px;
}
header .im1 {
  height: 70px;
  padding: 10px;
}
.main-content,
.main-content row ng-scope {
  padding: 10px;
}
.main-content row .gridblock,
.main-content row ng-scope row .gridblock {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid gray;
  /*border-radius:10px 10px 10px 10px;*/
  box-shadow: 4px 4px 4px #e5dede;
  background-color: #EAEAEA;
}
.main-content .f1,
.main-content row ng-scope .f1 {
  border: 1px solid gray;
  margin-top: 10px;
}
.main-content .f1 .dropimg,
.main-content row ng-scope .f1 .dropimg {
  font-size: 15px;
  padding: 5px 5px 5px 5px;
  height: 40px;
  width: 40px;
  margin-bottom: 5px;
}
.main-content .f1 .borderimg,
.main-content row ng-scope .f1 .borderimg {
  border: 1px solid #ccc;
}
.main-content h2,
.main-content row ng-scope h2 {
  color: #a01ba1;
  padding-bottom: 10px;
  text-align: center;
}
.main-content h3,
.main-content row ng-scope h3 {
  color: #2368CE;
}
.main-content form > p,
.main-content row ng-scope form > p {
  color: cadetblue;
}
.main-content .form-horizontal .control-label,
.main-content row ng-scope .form-horizontal .control-label,
.main-content label,
.main-content row ng-scope label {
  color: #41547c;
}
.main-content .form-horizontal,
.main-content row ng-scope .form-horizontal {
  border: 1px solid gray;
  padding: 20px;
}
.innernav {
  padding: 10px;
}
thead {
  background-color: rgba(130, 127, 137, 0.38);
}
tab {
  padding: 20px;
}
.paraMand {
  color: red;
}
