.main-content
{
	border:1px solid gray;
	margin: 15px 0px 15px 0px;
	padding:15px;
	padding-left:30px;
	
}
.gridblock
{	
	padding:10px;
	margin-bottom:20px;
	border:1px solid gray;
	/*border-radius:10px 10px 10px 10px;*/
	box-shadow:4px 4px 4px rgb(229, 222, 222);
	background-color:#EAEAEA;

}
.border-bottom 
{ 
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
	padding-left:-15px;
}
.toolcolor
{
	background-color:#E7E7E7;
}


.breadcrum
{
	background-color:#E7E7E7;
}
header 
{
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	background:#ccc;
}

.dropimage
{
	font-size:20px;
}
.dropimg
{
	font-size: 15px;
	padding: 5px 5px 5px 5px;
	height: 40px;
	width: 40px;
	margin-bottom: 5px;
	
}
.spanimg
{
	border-radius:10px;
}

ul span:hover
{
	border:1px solid #ccc;
	height:30px;
	
}
.sidebar
{
	border:1px solid black;
}
header a
{
	margin-top:10px;
}
header .im1
{
	height:70px;
	
}
.btn-group, .btn1
{
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.f1
{
 width:500px;
 
}
.form-content
{
	border:1px solid #ccc;
	width:400px;
	padding-left:90px;
}
.borderimg
{
	
	border:1px solid #ccc;
}
.dropimage1
{
	font-size:60px;
}