<section id="input">
	<div class="row main-content">
		<div class="col-md-2" ng-include="'modules/component/mainnav.html'"></div>
			<div class="col-md-10">
				<form class="form-horizontal" role="form" name="myForm" novalidate="novalidate" >
					<div class="form-group">
						<label for="fullname" class="col-md-2 control-label">Name</label>
						<div class="col-md-8">
							<input type="char" class="form-control" id="fullname" ng-model="edit.full_name" name="fullname" placeholder="Enter Name" required>
						</div>
						<a class="btn btn-primary"><span class="glyphicon glyphicon-pencil">Edit</span></a>	
					</div>
					<div class="form-group">
						<label for="Address" class="col-md-2 control-label">Address</label>
						<div class="col-md-8">
							<textarea  class="form-control" id="Address" ng-model="edit.address" name="Address" placeholder="Enter address" required>
							</textarea>
						</div>
						<a class="btn btn-primary"><span class="glyphicon glyphicon-pencil">Edit</span></a>						
					</div>	
					<div class="form-group">
						<label for="Country" class="col-md-2 control-label" name="Country" >Country</label>
						<div class="col-md-8">
							<select class="form-control" name="Country" id="Country"  ng-model="edit.country" required>
								<option value="" selected>Select Country</option>
								<option>India</option>
								<option>Australia</option>
								<option>China</option>
								<option>America</option>
								<option>Belgium</option>
							</select>
						</div>
						<a class="btn btn-primary"><span class="glyphicon glyphicon-pencil">Edit</span></a>	
					</div>
					<div class="form-group">
						<label for="Tel" class="col-md-2 control-label">Phone </label>
						<div class="col-md-8">
							<input type="Number" class="form-control" min="10" max="10" id="Tel" ng-model="edit.tel" name="Tel" placeholder="Enter Phone" required>
						</div>
						<a class="btn btn-primary"> <span class="glyphicon glyphicon-pencil">Edit</span></a>	
					</div>	
					<div class="form-group">
						<label for="Website" class="col-md-2 control-label">Website </label>
						<div class="col-md-8">
							<input type="url" class="form-control" id="Website" ng-model="edit.website" name="Website" placeholder="Enter Website " required>
						</div>
						<a class="btn btn-primary"><span class="glyphicon glyphicon-pencil">Edit</span></a>
					</div>	
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-success">Save</button>
						</div>						
					</div>
				</form>	
			</div>	
		</div>	
	</section>	