<div class="row">
	<div class="col-md-2" ng-include="'modules/component/mainnav.html'"></div>
	<div class="col-md-10">
			<form class="form-horizontal" role="form" name="myForm"  novalidate>
				<h3>Forgot Password</h3>
				<hr>
				<p>If you have forgot the account password, you can reset password and a new password will be sent to your email address..</p>
				<div class="form-group">
						<label for="mail" class="col-md-2 control-label">Email</label>
						<div class="col-md-8">
                            <input type="Email" class="form-control" id="mail" ng-model="forget.user_email" name="Email" placeholder="Enter Email" required>
								<span style="color:red" ng-show="myForm.Email.$dirty && 	myForm.Email.$invalid">
									<span ng-show="myForm.Email.$error.required">Email is required.</span>
									<span ng-show="myForm.Email.$error.email">Invalid Email address.</span>
								</span>
                        </div>			
				</div>
			</form>
		<button type="submit" class="btn btn-success center-block" name="btn1"  ng-click="forgotPass(forget)">Reset</button>  
    </div>
</div>	