
<section id="input">
	<div class="row main-content">
		<div class="col-md-2" ng-include="'modules/component/mainnav.html'"></div>
		<div class="col-md-10">
			<form class="form-horizontal center-block" role="form" name="myForm" novalidate="novalidate" >
				<h3>Free Registration / Sign up</h3>
				<hr>
				<p>Please register a free account, before you can start posting your ads. Registration is quick and free! Please note that fields marked * are required.</p>				
				<div class="form-group">
					<label for="fullname" class="col-md-2 control-label">Name* </label>
					<div class="col-md-8">
						<input type="char" class="form-control" id="fullname" ng-model="reg.full_name" name="fullname" placeholder="Enter Name" required>
							<span style="color:red" ng-show="myForm.fullname.$dirty && myForm.fullname.$invalid">
								<span ng-show="myForm.fullname.$error.required">name is required.</span>
							</span>	
					</div>						
				</div>				
				<div class="form-group">
					<label for="Address" class="col-md-2 control-label">Address*</label>
					<div class="col-md-8">
						<textarea  class="form-control" id="Address" ng-model="reg.address" name="Address" placeholder="Enter address" required>
						</textarea>
						<span style="color:red" ng-show="myForm.Address.$dirty && 	myForm.Address.$invalid">
								<span ng-show="myForm.Address.$error.required">Address is required.</span>
						</span>
					</div>						
				</div>		
				<div class="form-group">
					<label for="Country" class="col-md-2 control-label" name="Country" >Country</label>
					<div class="col-md-8">
						<select class="form-control" name="Country" id="Country"  ng-model="reg.country" required>
							<option></option>
							<option>India</option>
							<option>Australia</option>
							<option>China</option>
							<option>America</option>
							<option>Belgium</option>
						</select>
						<span style="color:red" ng-show="myForm.Country.$dirty && myForm.Country.$invalid">
						<span ng-show="myForm.Country.$error.required">Country is required.</span>
						</span>				
					</div>
				</div>				
				<div class="form-group">
					<label for="Tel" class="col-md-2 control-label">Phone </label>
					<div class="col-md-8">
						<input type="Number" class="form-control" min="10" max="10" id="Tel" ng-model="reg.tel" name="Tel" placeholder="Enter Phone" required>
						<span style="color:red" ng-show="myForm.Tel.$dirty && myForm.Tel.$invalid">
							<span ng-show="myForm.Tel.$error.required">Phone is required.</span>
							<span ng-show="myForm.Tel.$error.number">Enter Number.</span>
						</span>
					</div>						
				</div>				
				<div class="form-group">
					<label for="Fax" class="col-md-2 control-label">Fax </label>
					<div class="col-md-8">
						<input type="fax " class="form-control" id="Fax" ng-model="reg.fax " name="fax " placeholder="Enter Fax " required>
						<span style="color:red" ng-show="myForm.Fax.$dirty && myForm.Fax.$invalid">
						<span ng-show="myForm.Fax.$error.required">Fax  is required.</span>
						</span>
					</div>						
				</div>				
				<div class="form-group">
					<label for="Website" class="col-md-2 control-label">Website </label>
					<div class="col-md-8">
						<input type="url" class="form-control" id="Website" ng-model="reg.website" name="Website" placeholder="Enter Website " required>
						<span style="color:red" ng-show="myForm.Website.$dirty && 	myForm.Website.$invalid">
							<span ng-show="myForm.Website.$error.required">Website  is required.</span>
							<span ng-show="myForm.Website.$error.url">Invalid Web Site.</span>
						</span>
					</div>						
				</div>			
				<h4>Login Details</h4>
				<hr>
				<div class="form-group">
					<label for="username" class="col-md-2 control-label">UserName*</label>
					<div class="col-md-6">
						<input type="UserName " class="form-control" ng-model="reg.user_name" id="username" name="username" placeholder="Enter UserName " required>
						<span style="color:red" ng-show="myForm.username.$dirty && 	myForm.username.$invalid">
						<span ng-show="myForm.username.$error.required">UserName  is required.</span>
						</span>
					</div>						
					<div class="col-md-2">
						<button type="submit" class="btn btn-success">Check Availability</button>
					</div>
				</div>
				<div class="form-group">
					<label for="pass" class="col-md-2 control-label">Password* </label>
					<div class="col-md-8">
						<input type="Password" class="form-control" id="pass" ng-model="reg.pwd " name="pass" placeholder="Enter Password " required>
						<span style="color:red" ng-show="myForm.pass.$dirty && 	myForm.pass.$invalid">
						<span ng-show="myForm.pass.$error.required">Password is required.</span>
						</span>
					</div>						
				</div>				
				<div class="form-group">
					<label for="rpwd" class="col-md-2 control-label">Retype Password *</label>
					<div class="col-md-8">
						<input type="Password" class="form-control" id="rpwd" ng-model="rpwd" name="rpwd" placeholder="Enter Password " required>
						<span style="color:red" ng-show="myForm.rpwd.$dirty && 	myForm.rpwd.$invalid">
						<span ng-show="myForm.rpwd.$error.required">Password is required.</span>
						</span>
					</div>						
				</div>				
				<div class="form-group">
					<label for="requesteddomain" class="col-md-2 control-label">Request For Domain</label>
					<div class="col-md-8">
					<textarea class="form-control" rows="3" name="requesteddomain" id="requesteddomain" placeholder="Request" ng-model="reg.requested_domains"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						<button type="submit" ng-click="insert()" class="btn btn-success center-block">Register</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>


