<section>
    <div ng-include="'modules/component/innernav.html'"></div>
	<div class="row ">
			 <div class="col-md-4"> 
				<label class="control-label">Search </label>		
				<input type="text" class="form-control" ng-model="searchProp" placeholder="search"/>
			</div>			 				  
			 <div class="col-md-2">
				<label for="sort" class="control-label">Sort by Order</label>
				<select id="sort" class="form-control" ng-model="id"> 
					<option value="">Select Order</option>		<!-- added value & selected attr -->	
					<option value="-id">Desending</option>
					<option value="id">Asending</option>  
				</select>
			</div>
			<div class="col-md-2">
				<label for="Status" class="control-label">Select Status</label>
				<select id="Status" class="form-control" ng-model="status">
					<option value="" selected>Select Status</option> <!-- add value attribute empty & selected for initial selected option -->
					<option value="1">Active</option>
					<option value="0">Deleted</option>   
				</select>
			</div>
			<div class="col-md-2">
				<label for="featured" class="control-label">Filter By Featured</label>
					<select id="featured" class="form-control" ng-model="featured">
						<option value="" selected>Select Featured</option> <!-- added value & selected attr -->
						<option value="1" >Featured</option>
						<option value="0">Not Featured</option> 
					</select>
			</div>
			<div class="col-md-2">
					<label for="Domain" class="control-label">Select Domain :</label>
					<select id="Domain" class="form-control">            
						<option value="">All</option>
						<option value="www.jaidevlandmarks.com">www.jaidevlandmarks.com</option>  
						<option value="www.hinjewadiproperties.com">www.hinjewadiproperties.com</option>  
						<option>www.parkstreetwakad.com</option>  
						<option>www.propertydemand.com</option>  
						<option>www.parktitanium.com</option>  
					</select>
			</div>
		</div>		
	<hr>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered table-responsive">
				<thead>
					<tr>
						<th>Sr. No.</th>
						<th>Image</th>
						<th> Project Details</th>
						<th>Featured</th>
						<th>Status</th>
						<th>Other Domains</th>
						<th>Manage</th>
					</tr>
				</thead>
				
				<tbody>
					<tr ng-repeat="x in projects | filter:searchProp | orderBy:id | filter:{status:status} | filter:{featured:featured}">
						<td>{{ $index + 1 }}</td>
						<td><img ng-src="/img/{{x.proj_image}}"></td>
						<td>
							<table>
								<tr>
									<td>Property Title</td>
									<td>{{x.title}}</td>
								</tr>
								<tr>
									<td>Category</td>
									<td>{{x.category}}</td>
								</tr>
								<tr>
									<td>Type</td>
									<td>{{x.type}}</td>		
								</tr>
								<tr>
									<td>Address</td>
									<td>{{x.location}}</td>
								</tr>
							</table>
						</td>	
						<td><a class="btn btn-success" ng-if="featured==0">Featured </a>
								<a class="btn btn-warning" ng-if="featured==1" > Not Featured </a>
							</td>			
							<td><a class="btn btn-success" ng-if="status==0" >Active</a>
								<a class="btn btn-warning" ng-if="status==1">Delete</a></td>
						<td>{{x.domain}}</td>					
						
						<td><a href="#project/edit/{{x.id}}">Edit</a></td>
					</tr>				
				</tbody>
			</table>
		</div>
	</div>
</section>