
	<div class="container">
		<div class="row">		
			<div class="col-xs-3 col-sm-4 col-md-3 col-lg-3">	
				<a href="#"><img id="brand" src="img/jaidev-landmarks-logo.jpg" class="img-responsive"></a>	
			</div>			
			<div class="col-xs-6 col-sm-4 col-md-6 col-lg-6">
				<h1 class="text-center">Welcome To Jaidev Landmark</h1>
			</div>		
			<div class="col-xs-3 col-sm-4 col-md-3 col-lg-3 text-right">			
				<div class="btn-group btn1" dropdown>
					<a class="btn btn-link">
						Sai
					</a>
					<span dropdown-toggle><img src="img/user1.png" class="img-responsive img-circle pull-right im1 "></span>
					<ul class="dropdown-menu" role="menu">
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="#/editprofile">
								<span class="glyphicon glyphicon-pencil"></span> Edit Profile
							</a>
						</li>
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="#/changepass">
								<span class="glyphicon glyphicon-pencil"></span>Change Password
							</a>
						</li>
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="#"> 
							<span class="glyphicon glyphicon-off"></span> Sign Out
							</a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
	</div>
