<div class="innernav">
	<ul class="nav nav-pills">
			<li role="presentation" dropdown>
				<a class="dropdown-toggle" data-target="#" role="button" aria-expanded="false" dropdown-toggle>
				My Responses<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#/response/property/all">Property sale/Rent Out</a></li>
					<li><a href="#/response/web/all">Website Queries</a></li>
					<li><a href="#/response/project/all">Projects Enquiry</a></li>
				</ul>
			</li>
			<li role="presentation" dropdown>
				<a class="dropdown-toggle" data-target="#" role="button" aria-expanded="false" dropdown-toggle>
				 My Property<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#/addproperty">Add Property</a></li>
					<li><a href="#/property">View Property</a></li>
					<li><a href="#/addproject">Add Projects</a></li>
					<li><a href="#/project">Manage Projects</a></li>
				</ul>
			</li>
			<li role="presentation" dropdown>
				<a class="dropdown-toggle" role="button" dropdown-toggle>
				  My Profile <span class="caret"></span>
				</a>
				<ul class="dropdown-menu" role="menu">
					<!--<li><a href="#/register/edit">Edit Profile/Contacts</a></li>-->
					<li><a href="#/editprofile">Edit Profile/Contacts</a></li>
					<li><a href="#/">View All Sites</a></li>
					<li><a href="#">Request For New Sites</a></li>
					<li><a href="#/login">Logout</a></li>
				</ul>
			</li>
			  
	</ul>
</div>
