<!--
<div class="btn-toolbar pull-right" role="toolbar">
			<div class="btn-group" role="group" aria-label="goBack"><a class="btn btn-primary" type="button" ng-click="goBack()">
					<span class="glyphicon glyphicon glyphicon-arrow-left"></span>
		    </div>		
			
		    <div class="btn-group" role="group" aria-label="" dropdown is-open="status.isopen">
				<a class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
				     <span class="glyphicon glyphicon-th-large dropdown-toggle"></span>
			    </a>
				<ul class="dropdown-menu" role="menu">
					<a href="#"><span class="glyphicon glyphicon-search text-center dropimg"></span></a>
					<a href="#"><span class="glyphicon glyphicon-cog text-center dropimg"></a>
					<a href="#"><span class="glyphicon glyphicon-search text-center dropimg"></a>
					<a href="#"><span class="glyphicon glyphicon-music glyphicon  text-center dropimg"></a>
					<a href="#"><span class="glyphicon glyphicon-cog text-center dropimg"></a>
					<a href="#"><span class="glyphicon glyphicon-search text-center dropimg"></a>
				</ul>				
		    </div>		  
</div>-->



<div class="pull-right">
	<a class="btn btn-primary" type="button" ng-click="goBack()">
	<span class="glyphicon glyphicon glyphicon-arrow-left">
	</span>
	</a>
	<div class="btn-group" dropdown is-open="status.isopen">
      <a class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
         <span class="glyphicon glyphicon-th-large dropdown-toggle"></span>
      </a>
		<ul class="dropdown-menu" role="menu">
			<a href="#"><span class="glyphicon glyphicon-search dropimg"></span></a>
			<a href="#"><span class="glyphicon glyphicon-cog dropimg"></a>
			<a href="#"><span class="glyphicon glyphicon-search dropimg"></a>
			<a href="#"><span class="glyphicon glyphicon-music glyphicon  dropimg"></a>
			<a href="#"><span class="glyphicon glyphicon-cog dropimg"></a>
			<a href="#"><span class="glyphicon glyphicon-search dropimg"></a>
		</ul>
	</div>