<div class="pull-right">
	<div class="btn-group" dropdown is-open="status.isopen">
      <a class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
         <span class="glyphicon glyphicon-th-large dropdown-toggle iconback"></span>
      </a>
		<ul class="dropdown-menu" role="menu">
			<li><a href="#">History</a></li>
			<li><a href="#">New Tab</a></li>
			<li><a href="#">New Window</a></li>
			<li><a href="#">Downloads</a></li>
			<li><a href="#">Help</a></li>
			<li><a href="#">Exit</a></li>
		</ul>
    </div>
</div>