<div class="pull-right">
	<div class="btn-group" dropdown is-open="status.isopen">
      <a class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
         <span class="glyphicon glyphicon-th-large dropdown-toggle  dropimage"></span>
      </a>
		<ul class="dropdown-menu" role="menu">
			<a href="#"><span class="glyphicon glyphicon-search text-center dropimg"></span></a>
			<a href="#"><span class="glyphicon glyphicon-cog text-center dropimg"></a>
			<a href="#"><span class="glyphicon glyphicon-search text-center dropimg"></a>
			<a href="#"><span class="glyphicon glyphicon-music glyphicon  text-center dropimg"></a>
			<a href="#"><span class="glyphicon glyphicon-cog text-center dropimg"></a>
			<a href="#"><span class="glyphicon glyphicon-music text-center dropimg"></a>
		</ul>
	</div>
</div>








	</div>
</div>


<!--<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-6 text-center">
							<a href="#" class="btn btn-info dropimg"><span class="glyphicon glyphicon-search text-center dropimg">	
							</span></a>
						</div>
						<div class="col-md-6 text-center">
							<a href="#" class="btn btn-info dropimg">
							<span class="glyphicon glyphicon-cog text-center dropimg">	
							</span></a>
						</div>	
					</div>	
						<li><a href="#">New Tab</a></li>
						<li><a href="#">New Window</a></li>
						<li><a href="#">History</a></li>
						<li><a href="#">Exit</a></li>
		</ul>
				</div>
			</div>-->
			