<div class="row">
	<div class="col-md-12 sidebar">
		<h4 class="text-center">Home</h4>
			<ul class="list-unstyled">
				<li><a href="#">Home</a></li>
				<li><a href="#">Business Profile</a></li>
				<li><a href="#">Contact Profile</a></li>
				<li><a href="#">Infrastructure Facility</a></li>
				<li><a href="#">Testimonials</a></li>
				<li><a href="#">Job & Careers</a></li>
				<li><a href="#">Product</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">New Coverage</a></li>
			</ul>
	</div>
</div>